{% extends "cnctfacpBundle::layout.html.twig" %}

{% block title %}
	Ajouter un utilisateur - {{ parent() }}
{% endblock %}

{% block facp_body %}

	<h2>Ajouter un utilisateur</h2>

	{% include "cnctfacpBundle:Facp:formulaire.html.twig" %}

{% endblock %}