{% extends "::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	{% block menu %}
	{% endblock %}
	<hr>

	{# On gère les messages flash de façon global pour tout le bundle #}
	{% for key, flash in app.session.getFlashes() %}
		<div class="alert alert-{{ key }}">
			{{ flash }}
		</div>
	{% endfor %}

	{# On définit un nouveau block, que les vues du bundle pourront étendre #}
	{% block facp_body %}
	{% endblock %}

{% endblock %}